@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(212, 187, 110, 0.884);
    width: 98.4vw;
    height: 6vw;
    background-color: #262322;
    
}

#meuNome{
    font-size: 175%;
    margin-left: 1%;
    margin-top: 1%;
    align-items: center;
    
}

#botaoHeader{
    margin-right: 1.5%;
}

.firstPanel{
    width: 98.4vw;
    height: 100vw;
    background-color: #F2E5D7;
}

.secondPanel{
    width: 98.4vw;
    height: 100vw;
    background-color: #C97D60;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: flex-center;
    width: auto;
    height: auto;
    align-items: flex-start;
    flex-wrap: wrap; /*pra nao colocar tudo na mesma linha e tentar adaptar o espaço quando acabar*/
    align-content: center;
}