@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(212, 187, 110, 0.884);
    width: auto;
    height: 6vw;
    background-color: #262322;
    padding-top: 15px;
}

.firstPanel{
    width: auto;
    height: 100vw;
    background-color: #F2E5D7;
    display: flex;
    flex-direction:row;
    justify-content: flex-center;
    align-items: flex-start;
    flex-wrap: wrap; /*pra nao colocar tudo na mesma linha e tentar adaptar o espaço quando acabar*/
    align-content: center;
}

.secondPanel{
    width: auto;
    height: 100vw;
    background-color: #63372C;
    display: flex;
    flex-direction:row;
    justify-content: flex-center;
    align-items: flex-start;
    flex-wrap: wrap; /*pra nao colocar tudo na mesma linha e tentar adaptar o espaço quando acabar*/
    align-content: center;
}

body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vw;
}